.zakaz_lvl2 {
    margin-bottom: 0;
}
.price-value {
    padding-left: 10px;
    opacity: 0.5;
    color: black;
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 7px;
    margin-bottom: 5px;
}

.deliver_total_price_wrap {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    .deliver_total_price {
        display: flex;
        justify-content: flex-start;
        span {
            flex: 1 1 50%;
            font-family: Arial;
            font-size: 16px;
            font-weight: 400;
            line-height: 44px;
            color: #000;
            &.deliver_total_price_inner {
                font-size: 24px;
            }
        }
        .deliver_total_title {
            opacity: 0.5;
            color: #000;
            font-family: Arial;
            font-size: 16px;
            font-weight: 400;
            line-height: 44px;
            &.result {
                font-size: 20px;
            }
        }
    }
}

.deliver_info_wrap {
    padding: 20px 0;
    border-bottom: 1px solid #e5e5e5;
    .deliver_info_inner {
        margin-bottom: 20px;
        color: #000;
        font-family: Arial;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        &:last-of-type{
            margin-bottom: 0;
        }  
        span {
            display: block;
            opacity: 0.5;
            color: #000;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

.payment_info_wrap {
    padding: 20px 0 10px;
    color: #000;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    span {
        display: block;
        opacity: 0.5;
        color: #000;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}