.zakaz_lvl2 {
    margin-bottom: 0;
}
.price-value {
    padding-left: rem(10px);
    opacity: 0.5;
    color: black;
    font-family: Arial;
    font-size: rem(12px);
    font-weight: 400;
    line-height:rem(7px);
    margin-bottom:rem(5px);
}

.deliver_total_price_wrap {
    padding: rem(20px) 0;
    border-bottom:rem( 1px) solid #e5e5e5;
    .deliver_total_price {
        display: flex;
        justify-content: flex-start;
        span {
            flex: 1 1 50%;
            font-family: Arial;
            font-size: rem(16px);
            font-weight: 400;
            line-height: rem(44px);
            color: #000;
            &.deliver_total_price_inner {
                font-size: rem(24px);
            }
        }
        .deliver_total_title {
            opacity: 0.5;
            color: #000;
            font-family: Arial;
            font-size: rem(16px);
            font-weight: 400;
            line-height: rem(44px);
            &.result {
                font-size: rem(20px);
            }
        }
    }
}

.deliver_info_wrap {
    padding: rem(20px) 0;
    border-bottom:rem(1px) solid #e5e5e5;
    .deliver_info_inner {
        margin-bottom: rem(20px);
        color: #000;
        font-family: Arial;
        font-size: rem(16px);
        font-weight: 400;
        line-height: rem(24px);
        &:last-of-type{
            margin-bottom: 0;
        }  
        span {
            display: block;
            opacity: 0.5;
            color: #000;
            font-family: Arial;
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(24px);
        }
    }
}

.payment_info_wrap {
    padding: rem(20px) 0 rem(10px);
    color: #000;
    font-family: Arial;
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(24px);
    span {
        display: block;
        opacity: 0.5;
        color: #000;
        font-family: Arial;
        font-size: rem(14px);
        font-weight: 400;
        line-height: rem(24px);
    }
}