.my_orders_card {
  width: 100%;
  border-radius: rem(4px);
  border: rem(1px) solid #e6e6e6;
  display: flex;
  align-items: center;
  margin-bottom: rem(20px);

  .my_orders_card_content {
    width: 100%;
    max-width: rem(905px);

    .my_orders_card_top {
      border-bottom: none;
      display: flex;
      cursor: pointer;

      .my_orders_card_code {
        height: rem(40px);
        display: flex;
        align-items: center;
        padding-left: rem(10px);
        color: #61a0dc;
        font-size: rem(14px);
        font-weight: 400;
        width: 100%;
        max-width: rem(150px);

        span {
          text-decoration: underline;
        }

        i {
          margin-right: rem(8px);
        }
      }

      .my_orders_card_date {
        display: flex;
        justify-content: center;
        width: 100%;
        max-width: rem(230px);
        height: rem(40px);
        border-left: rem(1px) solid #e6e6e6;
        border-right: rem(1px) solid #e6e6e6;
        align-items: center;
        font-size: rem(14px);
        font-weight: 700;
      }
      .orders_count_price {
        width: 100%;
        max-width: rem(500px);
        display: flex;
        justify-content: space-between;
        padding: 0 rem(18px) 0 rem(12px);
        align-items: center;
        height: rem(40px);
        img {
          height: rem(30px);
          width: auto;
        }
        .orders_count_text {
          font-weight: 700;
          font-size: rem(14px);
        }
        .open_card_full {
          color: #61a0dc;
          cursor: pointer;
          display: none;
          i {
            margin-right: rem(5px);
          }
        }
      }

    }
  }

  .my_orders_card_status {
    width: 100%;
    max-width: rem(360px);
    border-left: rem(1px) solid #e6e6e6;
    padding: rem(15px) rem(20px);
    .orders_status_text {
      color: #282828;
      display: block;
      font-size: rem(14px);
      font-weight: 700;
      margin-bottom: 0;
    }
    .card_status_list {
      .card_status_elem_date {
        opacity: 0.5;
        color: #282828;
        padding-bottom: rem(8px);
        font-size: rem(12px);
        font-weight: 400;
        display: block;
        width: rem(100%);
        max-width: rem(143px);
        border-bottom: rem(1px) solid #c1c1c1;
        margin-bottom: rem(10px);
      }
      .card_status_elem_time {
        position: relative;
        padding-left: rem(18px);
        font-weight: 700;
        font-size: rem(14px);
        margin-bottom: rem(12px);
        &::before {
          @include before_fig(rem(7px), rem(7px), transparent);
          border-radius: 50%;
          top: rem(3px);
          left: 0;
        }
        &.green_dote {
          &::before {
            background-color: #00b230;
          }
        }
        &.reg_dote {
          &::before {
            background-color: red;
          }
        }
      }
      .card_feedback_comment {
        .open_comment {
          color: #61a0dc;
          font-size: rem(12px);
          margin-bottom: rem(15px);
          display: inline-block;
          text-decoration: underline;
          transition: color .3s;
          &:hover {
            color: $red-color;
          }
        }
        .card_comment_bonus {
          color: #848484;
          font-size: rem(12px);
          a {
            color: #61a0dc;
            transition: color .3s;
            text-decoration: underline;
            &:hover {
              color: $red-color;
            }
          }
          span {
            background-color: #00b32d;
            display: inline-block;
            color: #fff;
            padding: rem(5px);
            border-radius: 50%;
          }
        }
      }
    }
  }
  .card_feedback_order {
    .card_feedback_order_text {
      font-weight: 400;
      font-size: rem(14px);
      opacity: .5;
      margin-bottom: rem(10px);
    }
    .btn {
      display: inline-block;
      margin-bottom: rem(15px);
    }
    .card_feedback_order_link {
      display: block;
      color: #61a0dc;
      text-decoration: underline;
      font-weight: 400;
      transition: color .3s;
      font-size: rem(12px);
      &:hover {
        color: $red-color;
      }
    }
  }
  .my_orders_card_full {
    border-bottom: rem(1px) solid #e6e6e6;
    padding: rem(30px);
    display: none;
    .card_payment_method_elem {
      p {
        width: 100%;
        max-width: rem(170px);
      }
      span {
        margin-left: rem(30px);
      }
    }
  }
  .my_orders_card_about {
    .my_orders_card_about_link {
      width: 100%;
      display: flex;
      align-items: center;
      padding: rem(15px) rem(20px);
      border-bottom: rem(1px) solid #e6e6e6;
      img {
        width: rem(115px);
        height: auto;
        margin-right: rem(50px);
      }
      a {
        color: #5198d9;
        font-size: rem(12px);
        font-weight: 400;
        text-transform: uppercase;
        transition: color .2s;
        &:hover {
          text-decoration: underline;
          color: $red-color;
        }
      }
    }
  }
  .card_payment_method {
    padding: rem(15px) rem(20px);
    border-bottom: rem(1px) solid #e6e6e6;
  }
  .my_orders_total_payment {
    padding: rem(15px) rem(20px);
    .card_payment_method_elem {
      margin: 0;
    }
  }
  .card_payment_method_elem {
    display: flex;
    align-items: center;
    font-size: rem(14px);
    margin: rem(10px) 0;
    p {
      width: rem(140px);
      margin-right: rem(10px);
      color: #000;
      opacity: .5;
    }
    span {
      color: #000;
      font-weight: 700;
    }
  }
  .card_status_list {
    display: none;
  }
  .my_orders_card_about {
    display: none;
  }
  &.active {
    align-items: normal;
    .my_orders_card_content {
      .my_orders_card_top {
        border-bottom: rem(1px) solid #e6e6e6;
        .orders_count_price {
          justify-content: flex-end;
          img {
            display: none;
          }
          .orders_count_text {
            display: none;
          }
          .open_card_full {
            display: inline-block;
          }
        }
      }
    }
    .my_orders_card_status {
      .orders_status_text {
        margin-bottom: rem(15px);
      }
    }
    .card_status_list {
      display: block;
    }
    .my_orders_card_about {
      display: block;
    }
    .my_orders_card_full.active {
      display: block;
    }
  }
}
