.moy_zakaz_mobile {
    border-top: 1px solid #e5e5e5;
    padding: 30px 0;
}
.zakaz_mob_info {
    opacity: 0.8;    
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    &.no_signal {
        color: #ed1937;
    }
    &.otmena {
        color: rgba(000, 000, 000 , 0.5);
    }
    &.done {
        color: #298813;
    }
}
.nubm_date_tovar_mob_info {   
    color: rgba(000, 000, 000 , 0.8);
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
    span  {
        color: #5198d9;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        opacity: 1 ;
    }
}
.tovar_pic_mob {
    margin-bottom: 25px;
    max-width: 250px;
    width: 100%;
    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}
.summ_tovar_mob {
    color: rgba(000, 000, 000 , 0.8);
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    line-height: 35px;
    span {        
        display: inline-block;
        float: right;
        border-radius: rem(3px);
        text-align: center;
        height: rem(35px);
        width: 100%;
        max-width: rem(95px);
        line-height: rem(33px);
        border: rem(1px) solid #ffe6bf;
        background-color: #fff5e5;
    }    
}