body {
    font: 400 rem(14px)/1.21 $Arial;
    color: #282828;
}

.container {
    width: 100%;
    max-width: rem(1610px);
    padding: 0 rem(5px);
    margin: auto;
}

.container-mobile {
    width: 100%; // padding: 0 rem(7px);
    margin: auto;
    max-width: rem(980px);
}

.flex_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.btn_red {
    display: block;
    padding: rem(11px) rem(23px);
    font-size: rem(18px);
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 rem(1px) rem(1px) rgba(40, 40, 40, 0.56);
    border: none;
    cursor: pointer;
    line-height: 1;
    border-radius: rem(4px);
    color: #fdfdfd;
    background: linear-gradient(to top, #f20d3b 0%, #ff2f34 100%);
}

.buy_button {
    background-color: #ff2f34;
    background-image: linear-gradient(to top, #f20d3b 0%, #ff2f34 100%);
    border-radius: rem(4px);
    cursor: pointer;
    color: #ffffff;
    font-family: 'Arial';
    text-align: center;
}

.btn_grey {
    display: block;
    padding: rem(10px) rem(15px);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    box-shadow: rem(2px) rem(2px) rem(5px) rgba(0, 0, 0, 0.15);
    border-radius: rem(4px);
    border: rem(1px) solid #e6e6e6;
    background-image: linear-gradient(to top, #f7f7f7 0%, #fff 100%);
}

.close {
    width: rem(36px);
    height: rem(36px);
    border-radius: rem(25px);
    background-color: #fee;
    border: rem(1px) solid #dadada;
    position: absolute;
    top: rem(10px);
    right: rem(10px);
    cursor: pointer;
    &:before {
        content: '';
        width: rem(17px);
        height: rem(2px);
        background-color: #e42828;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        transform: rotate(45deg)
    }
    &:after {
        content: '';
        width: rem(17px);
        height: rem(2px);
        background-color: #e42828;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        transform: rotate(-45deg)
    }
}

.title_link {
    color: #000;
    font-size: rem(24px);
    text-decoration: underline;
    display: inline-block;
    margin-bottom: rem(20px);
}

.title_block {
    color: $black-color;
    font-size: rem(35px);
    margin-bottom: rem(25px);
}

.banner_aside {
    display: block;
    width: 100%;
    height: rem(550px);
    border: solid rem(1px) #e9e9e9;
    border-radius: rem(4px);
    overflow: hidden;
    margin-bottom: rem(20px);
    position: relative;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.link_page {
    color: $sky-color;
    font-size: rem(14px);
    display: inline-flex;
    align-items: center;
    opacity: .7;
    transition: opacity .3s;
    span {
        text-decoration: underline;
    }
    i {
        display: block;
        width: rem(24px);
        height: rem(24px);
        border-radius: 50%;
        text-align: center;
        line-height: rem(24px);
        font-size: rem(20px);
        color: $sky-color;
        border: solid rem(1px) $sky-color;
        margin-right: rem(15px);
    }
    &:hover {
        opacity: 1;
    }
}

.add_comment {
    font-size: rem(12px);
    color: #000;
    opacity: .8;
    span {
        text-decoration: underline;
    }
    i {
        margin-right: rem(4px);
    }
    &:hover {
        opacity: 1;
    }
}

.rating {
    width: 100%;
    max-width: rem(100px);
    height: rem(18px);
    position: relative;
    .star {
        width: 100%;
        position: relative;
        z-index: 3;
    }
    .rating_bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 70%;
        height: 100%;
        background-color: red;
    }
}

.comment_set {
    display: flex;
    align-items: center;
    margin-bottom: rem(8px);
    .comment_count {
        font-size: rem(12px);
        opacity: .8;
        margin-left: rem(7px)
    }
}


/*header*/

.header_main {
    width: 100%;
    margin-bottom: rem(43px);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        min-height: rem(105px);
        padding-top: rem(20px);
    }
}


/*end header*/


/*top line*/

.search_line {
    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding-left: rem(260px);
        @include respond-to(desktop) {
            padding-left: 0;
            flex-direction: column-reverse;
        }
    }
}


/*end top line*/


/*main content*/

.main_content {
    margin-top: rem(30px);
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .main {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            .main_content_left {
                width: 100%;
                max-width: rem(260px);
                position: relative;
                margin-top: rem(-65px);
                flex: 1 1 40%;
                margin-right: 1.25rem;
                z-index: 10;
                &.full_tovar {
                    position: absolute;
                    z-index: 10;
                }
                @include respond-to(desktop) {
                    position: absolute;
                    &.categories_left {
                        position: relative;
                    }
                }
            }
            .main_content_center {
                width: 100%;
                flex: 1 1 40%;
                .pagination_block {
                    padding-left: rem(45px);
                }
            }
            .slider_cards {
                width: 100%;
            }
        }
    }
}

.aside_main {
    width: 100%;
    max-width: rem(280px);
    margin-left: rem(20px);
}


/*end main content*/

.information {
    width: 100%;
    margin-bottom: rem(50px);
    >.container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: rem(50px);
        .information_left {
            width: 100%;
            flex: 1 1 50%;
            .news_min {
                .news_img {
                    display: none;
                }
                &:first-child {
                    float: left;
                    margin-right: rem(20px);
                    max-width: rem(360px);
                    .news_img {
                        display: block;
                    }
                }
            }
            @include respond-to(desktop) {
                flex-direction: column;
                flex: 1 2 30%;
                .news_min {
                    &:first-child {
                        float: none;
                        max-width: 100%;
                        .news_img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
        .information_right {
            width: 100%;
            flex: 1 1 50%;
            .comments_list {
                width: 100%;
            }
            @include respond-to(desktop) {
                flex: 1 1 70%;
            }
        }
    }
}


/* main banner */

.main_banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(44px);
}


/* main categories */

.main_categories_wrap {
    margin-top: rem(-5px);
    margin-bottom: rem(10px);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: rem(-28px);
}


/* breadcrumbs */

.breadcrumb {
    width: 100%;
    overflow: hidden;
    color: #9a9a9a;
    font-size: rem(12px);
    font-weight: 300;
    margin-bottom: rem(30px);
}


/* end breadcrumbs */


/* full_tovar_main_block */

.full_tovar_main_block {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
    position: relative;
    @include respond-to(desktop) {
        justify-content: flex-end;
    }
}


/* end  full_tovar_main_block */


/* more info characteritics */

.full_tovar_more_characteristics {
    margin-top: rem(30px);
    padding-bottom: rem(50px);
}

.characteristics_tabs {
    display: flex;
    justify-content: flex-start;
    border-bottom: rem(1px) solid #e6e6e6;
}

.characteristics_content {
    padding-top: rem(40px);
    .full_characteristics_title {
        color: #000;
        font-family: Arial;
        font-size: rem(20px);
        font-weight: 400;
        line-height: rem(44px);
        text-transform: uppercase;
        .btn_red {
            display: inline-block;
            margin-left: rem(20px);
        }
    }
    .content_inner {
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
        &.active {
            display: flex;
        }
        .more_info_inner_left {
            flex: 1 1 rem(310px);
            padding-right: rem(45px);
            padding-left: rem(40px);
            max-width: rem(1150px);
            width: 100%;
            .foto_video_title_inner {
                opacity: 0.5;
                color: #000;
                font-family: Arial;
                font-size: rem(20px);
                font-weight: 400;
                line-height: rem(44px);
            }
        }
        .tovar_info_right {
            flex: 1 1 rem(310px);
            max-width: rem(407px);
            margin-top: rem(80px);
            position: relative;
            right: 0;
            top: 0;
            background: #fff;
        }
        .add_review {
            display: block;
            width: 100%;
            .rating_star_block {
                margin: rem(35px) 0 rem(25px);
            }
        }
    }
}


/* end more info characteritics */


/* more full comments */

.comments_wrap {
    margin-top: rem(45px);
}


/* end full comments */


/* oplata tovara */

.oplata_left_block {
    flex: 1 1 rem(300px);
    max-width: rem(580px);
    padding: 0 rem(50px);
}

.oplata_right_block {
    flex: 1 1 rem(300px);
}


/* end oplata tovara */


/* footer */

footer {
    padding-top: rem(35px);
    padding-bottom: rem(40px);
    background: #f7f7f7;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .left_block_footer {
        flex: 1 1 rem(300px);
        .payment_block {
            display: flex;
            justify-content: flex-start;
        }
        .left_footer_title {
            color: #000000;
            font-family: Arial;
            font-size: rem(20px);
            font-weight: 400;
            line-height: rem(30px);
            text-transform: uppercase;
            margin-bottom: rem(48px);
        }
        .footer_info_block {
            display: flex;
            justify-content: space-between;
            margin-top: rem(67px);
            max-width: rem(1002px);
            width: 100%;
            padding-right: rem(5px);
        }
    }
    .right_block_footer {
        flex: 0 1 rem(300px);
        .right_footer_title {
            color: #333333;
            font-family: Arial;
            font-size: rem(20px);
            font-weight: 400;
            font-variant: small-caps;
            margin-bottom: rem(37px);
            span {
                font-size: rem(21px);
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        .podpiska_form {
            margin-top: rem(75px);
        }
    }
}

// mobile
header,
.main_content_mobile,
footer {
    padding: 0 rem(10px);
}

.mob_title_main {
    color: #282828;
    font-family: Arial;
    font-size: rem(20px);
    font-weight: 400;
    line-height: rem(14px);
    margin: rem(20px) 0 rem(25px);
    text-transform: uppercase;
}

.back_btn {    
    color: #5198d9;    
    display: inline-block;
    cursor: pointer;
    // margin-bottom: rem(25px);
    span {        
        font-family: Arial;
        font-size:rem(14px);
        font-weight: 400;
        line-height: rem(30px);
        text-decoration: underline;
        display: inline-block;
        vertical-align: top;
    }
    i {
        font-size: rem(25px); 
        text-decoration: none;
        display: inline-block;
     }
}

.order_confirm {
    .tovar_sum {
        .tovar_sum_inner {
            span {
                &.mobile_sum_total {
                    margin-left: rem(10px);
                }
            }
        }
    }
}
.order_mob_wrap {
    padding: 0 rem(20px) rem(20px);
    border-bottom: 1px solid #e6e6e6;
}