[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-balance:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-discount:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-eye:before {
  content: "\e904";
}
.icon-gift:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-information:before {
  content: "\e907";
}
.icon-like:before {
  content: "\e908";
}
.icon-magnifying-glass:before {
  content: "\e909";
}
