$one-rem: 16px;

$url-path: "../../";

$small-tablet: 980px;
$tablet: 1180px;
$desktop: 1280px;
$desktop-min: 1600px;

$devices: not-desktop phablets phones-tablets;

/*color*/
$red-color: rgba(235, 27, 53, 1);
$sky-color: rgba(81, 152, 217, 1);
$black-color: rgba(40, 40, 40, 1);
$orange-color: rgba(255, 156, 0, 1);
$grey-color: rgba(218, 218, 218, 1);
$grey-dark: rgba(96, 96, 96, 1);

/*fonts*/
$Arial: "Arial", sans-serif;
$Uni-Sans: "Uni Sans", sans-serif;



