.payment_text {
    margin-top: rem(14px);
    color: #333333;
    font-family: Arial;
    font-size: rem(18px);
    font-weight: 700;
    text-transform: uppercase;
    flex: 0 1 rem(250px);
}

.payment_logo {
    display: flex;
    justify-content: space-around;
    flex: 1 1 rem(300px);
    a {
        margin: 0 rem(10px);
    }
    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}