.full_tovar_rating {
    flex: 1 1 rem(300px);
    padding: rem(5px);
    padding-left: rem(45px);
    .rating_star_block {
        display: flex;
        margin-bottom: rem(20px);
        .rating {
            margin-right: rem(20px);
        }
        .reviews {
            color: #606060;
            font-family: Arial;
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(16px);
            text-decoration: underline;
            a {
                display: block;
            }
        }
    }
    .detail_tools {
        a {
            display: block;
            position: relative;
            margin-bottom: rem(20px);
            &:hover {
                span {
                    color: #000;
                }
            }
            i {
                width: 23px;
            }
            span {
                color: #606060;
                font-family: Arial;
                font-size: rem(11px);
                font-weight: 400;
                line-height: rem(14px);
                margin-left: rem(10px);
            }
        }
    }
    .one_click_but {
        width: rem(182px);
        height: rem(31px);
        background-color: #fff;
        border: rem(1px) solid #ff2f34;
        border-radius: rem(4px);
        text-align: center;
        line-height: rem(31px);
        margin-bottom: rem(90px);
        a {
            color: #606060;
            font-family: Arial;
            font-size: 11px;
            font-weight: 400;
            line-height: 14px;
            text-transform: uppercase;
        }
    }
    .soc_block {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        a {
            max-width: rem(35px);
            margin-right: rem(10px);
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}