body{
  font: 400 rem(14px)/1.21 $Arial;
}
.container{
  width: 100%;
  max-width: rem(1600px);
  margin: auto;
}
.btn_red{
  display: block;
  padding: rem(11px) rem(23px);
  font-size: rem(18px);
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(40, 40, 40, 0.56);
  border: none;
  cursor: pointer;
  line-height: 1;
  border-radius: 3px;
  color: #fdfdfd;
  background: linear-gradient(to top, #f20d3b 0%, #ff2f34 100%);
}
.title_link{
  color: #000;
  font-size: rem(24px);
  text-decoration: underline;
  display: inline-block;
  margin-bottom: rem(20px);
}
.banner_aside{
  display: block;
  width: 100%;
  height: rem(550px);
  border: solid rem(1px) #e9e9e9;
  border-radius: rem(4px);
  overflow: hidden;
  margin-bottom: rem(20px);
  position: relative;
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
/*header*/
.header_main{
  width: 100%;
  margin-bottom: rem(43px);
  .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: rem(105px);
    .header_left{
      width: 100%;
      max-width: rem(260px);
    }
    .header_center{
      width: 100%;
      padding-top: rem(20px);
    }
    .header_right{
      width: 100%;
      padding-top: rem(20px);
      max-width: rem(280px);
      display: flex;
      justify-content: flex-end;
    }
  }
}
/*end header*/
/*top line*/
.search_line{
  .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    .search_line_left{
      width: 35%;
    }
    .search_line_right{
      width: 35%;
    }
  }
}
/*end top line*/
/*main content*/
.main_content{
  margin-top: rem(30px);
  .container{
    display: flex;
    justify-content: space-between;
    .main_content_left{
      width: 100%;
      max-width: rem(260px);
      margin-right: rem(30px);
      position: relative;
      margin-top: rem(-65px);
    }
    .main_content_right{
      width: 100%;
      margin-left: rem(20px);
      max-width: rem(280px);
    }
  }

}
/*end main content*/
.information{
  width: 100%;
  .container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .information_news_list{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .news_min{
        .news_img{
          display: none;
        }
        &:first-child{
          max-width: rem(360px);
          .news_img{
            display: block;
          }
        }
      }
    }
  }
}
