  /*default*/
    @import "default/reset.scss";
    @import "default/variables.scss";
    @import "default/mixin.scss";
    @import "default/functions.scss";
    @import "default/common.scss";
    @import "/fonts/iconmoon/style.css";
  /*default end*/
  /*header*/
    @import "сomponents/header/logo";
    @import "сomponents/header/contact-set";
    @import "сomponents/header/personal-area";
    @import "сomponents/header/registration";

  /*end header*/
  /*search line*/
    @import "сomponents/search-line/category-top";
    @import "сomponents/search-line/search";
  /*end search line*/
  /*footer*/
    @import "сomponents/footer/left-info-block";
    @import "сomponents/footer/payment-block";
    @import "сomponents/footer/soc-block-form";
  /*end footer*/
  /*aside*/
    @import "сomponents/page-one/aside/filter";
    @import "сomponents/page-one/aside/filter-track";
    /*end aside*/
    /*popups*/
    @import "сomponents/popups/product-slider";
    /*end popus*/
/*BEGIN PAGE ONE*/
  /*categories list*/
    @import "сomponents/page-one/main-content-left/categories-list";
  /*end categories list*/
  /*main content center*/
    @import "сomponents/page-one/main-content-center/main-banner";
    @import "сomponents/page-one/main-content-center/pagination";
    @import "сomponents/page-one/main-content-center/main-categories";
    @import "сomponents/page-one/main-content-center/slider-cards";
    @import "сomponents/page-one/main-content-center/card-min";
  /*end main content center*/
  /*information section*/
    @import "сomponents/page-one/information/news-min";
    @import "сomponents/page-one/information/comment";
    @import "сomponents/page-one/information/about";
  /*end information section*/
/*END PAGE ONE*/
/*BEGIN PAGE TWO*/
  /*main content center*/
    @import "сomponents/page-two/main-content-center/filter-settings";
    @import "сomponents/page-two/main-content-center/filter-result";
    @import "сomponents/page-two/main-content-center/card-min";
    @import "сomponents/page-two/main-content-center/pagination";
  /*end main content center*/
  /*main content left*/
    @import "сomponents/page-two/main-content-left/filter-category";
    @import "сomponents/page-two/main-content-left/filter-track";
    @import "сomponents/page-two/main-content-left/filter-list-category";
  /*end main content left*/
  /*full slider */
    @import "сomponents/page-two/slider/slider-cards";
  /*end slider*/
/*END PAGE TWO*/

/* PAGE 3 full tovar*/

  /* breadcrums */
   @import "сomponents/page-three-full-tovar/breadcrumbs/breadcrums";
  /* end breadcrums*/
  /* full tovar price */
    @import "сomponents/page-three-full-tovar/full-tovar-main-block/full-tovar-price";
  /* full tovar price */
  /* full rating */
    @import "сomponents/page-three-full-tovar/full-tovar-main-block/full-rating-block";
  /* full rating */
  /* full tovar delivery */
    @import "сomponents/page-three-full-tovar/full-tovar-main-block/full-tovar-delivery";
  /* full tovar delivery */
  /* full slider */
    @import "сomponents/page-three-full-tovar/full-tovar-main-block/slider-block";
  /* full slider */
  /* tovar-more-tabs */
    @import "сomponents/page-three-full-tovar/tovar-more-info/tovar-more-tabs";
  /* end tovar-more-tabs */
  /* buy together */
    @import "сomponents/page-three-full-tovar/tovar-more-info/buy-together";
  /* end buy together */
  /* more-delivery-info */
    @import "сomponents/page-three-full-tovar/tovar-more-info/more-delivery-info";
  /* end more-delivery-info */
  /* full-characteristic */
    @import "сomponents/page-three-full-tovar/tovar-more-info/full-characteristic";
  /* end full-characteristic */
  /* tovar-foto */
    @import "сomponents/page-three-full-tovar/tovar-more-info/tovar-foto";
  /* end tovar-foto */
  /* view-video */
    @import "сomponents/page-three-full-tovar/tovar-more-info/view-video";
  /* end view-video */
  /* full-reviews */
    @import "сomponents/page-three-full-tovar/tovar-more-info/full-reviews";
  /* end full-reviews */

  /* tovar-info-right */
  @import "сomponents/page-three-full-tovar/tovar-more-info/tovar-info-right";
  /* end tovar-info-right */

  /* add reviews */
  @import "сomponents/page-three-full-tovar/tovar-more-info/add-reviews";
  /* end add reviews */

/* END PAGE 3 full tovar*/

// Oplata tovara page

 /* oplata tovara  */
 @import "сomponents/oplata-tovara/oplata";
 /* end oplata tovara  */

// End oplata tovara


/* korzina popup */
@import "сomponents/header/korzina-popup";

/* end korzina popup */

/*BEGIN NEWSLETTER PAGE*/
  /*account*/
    @import "сomponents/page-newsletter/account";
  /*end account*/
  /*newsletter*/
    @import "сomponents/page-newsletter/newsletter-block";
  /*end newsletter*/
/*END NEWSLETTER PAGE*/
/*BEGIN WISH LIST*/
  /*account*/
    @import "сomponents/page-wish-list/account";
  /*end account*/
  /*with list*/
    @import "сomponents/page-wish-list/wish-list";
    @import "сomponents/page-wish-list/card-min";
  /*end with list*/
/*END WISH LIST*/
/*BEGIN USER DATA*/
  /*account*/
    @import "сomponents/page-user-data/account";
  /*end account*/
  /*user data*/
    @import "сomponents/page-user-data/user-data";
  /*user data*/
  /*connect social*/
  @import "сomponents/page-user-data/connect-social";
  /*connect social*/
/*END USER DATA*/
/*BEGIN USER REVIEW*/
  /*account*/
    @import "сomponents/page-user-reviews/account";
  /*end account*/
  /*user reviews*/
    @import "сomponents/page-user-reviews/user_reviews_card";
    @import "сomponents/page-user-reviews/user-reviews";
  /*end user reviews*/
/*END USER REVIEW*/
/*BEGIN MY ORDERS*/
/*account*/
  @import "сomponents/page-user-reviews/account";
/*end account*/
/*user account*/
  @import "сomponents/pade-my-orders/my-orders";
  @import "сomponents/pade-my-orders/my-orders-card.scss";
/*end user account*/
/*END MY ORERS*/

/* mobile  */

/* header  */
@import "сomponents/header-mobile/header-mobile";
/* end header  */

/* main-banner-mobile  */
@import "сomponents/page-one-mobile/main-banner-mobile";
/* end main-banner-mobile  */
/* main-banner-mobile  */
@import "сomponents/page-one-mobile/categor-list-mobile";
/* end main-banner-mobile  */
/* main_categories_mobile-mobile  */
@import "сomponents/page-one-mobile/main-categories-mobile";
/* end main_categories_mobile-mobile  */
/* out-telephone-btn  */
@import "сomponents/page-one-mobile/out-telephone-btn";
/* end out-telephone-btn  */
/* footer-mobile  */
@import "сomponents/page-one-mobile/footer-mobile";
/* end footer-mobile  */


/* ----------------------CATEGORY MOBILE------------------------  */
/* filter-mobile  */
@import "сomponents/category-mobile/filter-mobile";
/* end filter-mobile  */
/* category-mobilep  */
@import "сomponents/category-mobile/category-mobile";
/* end category-mobile  */
/* ----------------------CATEGORY MOBILE------------------------  */



/* korzina mobile*/
@import "сomponents/korzina/korzina-mobile";
/* korzina mobile*/

/* sravnenie mobile*/
@import "сomponents/sravnenie/sravnenie-mobile";
/* sravnenie mobile*/

/* tovar-dlya-sravnenie mobile*/
@import "сomponents/sravnenie/tovar-dlya-sravnenie";
/* tovar-dlya-sravnenie mobile*/


/* mob-menu-popup  */
@import "сomponents/mobile-popup/mob-menu-popup";
/* end mob-menu-popup  */
/* mob-menu-popup  */
@import "сomponents/mobile-popup/mob-registration";
/* end mob-menu-popup  */

/* mobile_filter_popup  */
@import "сomponents/mobile-popup/mobile-filter-popup";
/* end mobile_filter_popup  */

/* wish-list-mobile  */
@import "сomponents/page-wish-list/mobile/wish-list-mobile";
/* end wish-list-mobile  */

/* my-orders-mobile  */
@import "сomponents/pade-my-orders/my-orders-mobile";
/* end my-orders-mobile  */

/* my-orders-mobile  */
@import "сomponents/pade-my-orders/my-orders-mobile-lvl2";
/* end my-orders-mobile  */

/* my-orders-mobile  */
@import "сomponents/page-user-reviews/reviews-mobile";
/* end my-orders-mobile  */

/* my-orders-mobile  */
@import "сomponents/page-three-full-tovar/tovar-more-info/all-characteristic-mobile";
/* end my-orders-mobile  */

/*viev-video-mobile  */
@import "сomponents/page-three-full-tovar/tovar-more-info/viev-video-mobile";
/* endviev-video-mobile  */

/* more-deliver-mobile  */
@import "сomponents/page-three-full-tovar/tovar-more-info/more-deliver-mobile";
/* end more-deliver-mobile  */

/* more-deliver-mobile  */
@import "сomponents/page-three-full-tovar/full-tovar-main-block/slider-block-mobile";
/* end more-deliver-mobile  */
/* more-deliver-mobile  */
@import "сomponents/page-three-full-tovar/full-tovar-main-block/full-price-info";
/* end more-deliver-mobile  */


/* mobile  */
