@import "reset.scss";

@import "сomponents-sass/variables.scss";

@import "сomponents-sass/mixin.scss";

@import "сomponents-sass/functions.scss";

@import "common.scss";

/*header*/
    @import "modules/header/logo.scss";
    @import "modules/header/contact-set.scss";
    @import "modules/header/personal-area.scss";
/*end header*/

/*search line*/
    @import "modules/search-line/category-top.scss";
    @import "modules/search-line/search.scss";
/*end search line*/

/*categories list*/
@import "modules/main-content-left/categories-list.scss";
/*end categories list*/

/*main banner*/
@import "modules/main_content_center/main_banner.scss";
@import "modules/main_content_center/main_content.scss";
/*main banner*/

/*pagination*/
@import "modules/pagination/pagination.scss";
/*pagination*/

/*main categories*/
@import "modules/main_content_center/main_categories.scss";
/*main categories*/

/*filter*/
@import "modules/main-content-right/filter.scss";
/*end filter*/

/*information section*/
@import "modules/information/news-min.scss";
/*end information section*/


/*footer*/
@import "modules/footer/footer.scss";
/*end footer*/
