footer {
    &.footer_mobile {
        padding: rem(15px) 0 rem(30px);
        background: #ffffff;
        text-align: center;
    }
}
.full_site_version {
    margin-bottom: rem(20px);
    i {
        color: #5198d9;
        font-size: rem(18px);
        line-height: rem(14px);
        margin-right: rem(15px);
    }
    span{
        color: #5198d9;
        font-family: $Arial;
        font-size: rem(18px);
        font-weight: 400;
        line-height: rem(14px);
        text-decoration: underline;
    }
    
}
.footer_mobile_info {
    color: #666;
    font-family: Arial;
    font-size: rem(12px);
    font-weight: 400;
    line-height: rem(14px);
    div {
        margin-bottom: rem(5px);
        &:last-of-type{
            margin-bottom: 0;
        }
    }
}