.main_banner_mobile {
    position: relative;
    margin-bottom: rem(10px);
    a {
        display: block;
    }
    img {
        width: 100%;
        height: auto;
        vertical-align: middle;
    }
}