.our_telephone_mob {
    background-color: #914904;
    border-radius: rem(5px);   
    padding: rem(1px);
    padding-bottom: rem(6px);
    text-align: center;
    margin-top: rem(20px);
    .btn_red.gld_colr {
        background: #f7902c;
        border-radius: rem(5px);
        padding-left: rem(50px);
        position: relative;
        box-shadow: inset 0 rem(-1px) rem(23px) #914904;
        i {
            position: absolute;
            left: rem(15px);
            top: rem(10px);
            font-size: rem(20px);
        }
    }   
}