.kurs_tabs ul li p {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 45px);
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.kurs_tabs ul li span {
    display: inline-block;
    vertical-align: middle;
    width: 45px;
    color: #5996b3;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-align: right;
}

.kurs_tabs label:hover {
    color: #ff654c;
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
}

// ---------------------------------------------------------------------------
.more_info_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; // toar left
    .tovar_info_left {
        flex: 1 1 310px;
        .full_characteristics_title {
            color: #000;
            font-family: Arial;
            font-size: 20px;
            font-weight: 400;
            line-height: 44px;
        }
        .full_characteriscs_info {
            margin-top: 35px;
            display: block !important ;
            li {               
                display: flex;
                justify-content: flex-start;               
                .full_characteriscs_info_title {
                    display: flex;
                    max-width: 310px;
                    width: 100%;
                    opacity: 0.5;
                    color: #000;
                    font-family: Arial;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 44px;                    
                }
                .full_characteriscs_information {
                    font-family: Arial;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 44px;
                    color: #000;
                    display: flex;
                    a {
                        color: #5198d9;
                        text-decoration: underline;
                    }
                }
            }
        }
    } // tovar right
    .tovar_info_right {
        flex: 1 1 rem(310px);
        max-width: rem(407px);
        .tovar_info_right_title {
            display: flex;
            justify-content: space-between;
            .tovar_vash_tovar_inner {
                display: flex;
                color: #010101;
                font-family: Arial;
                font-size: 16px;
                font-weight: 400;
                line-height: 11px;
                text-decoration: underline;
                width: 100%;
                justify-content: center;
                &.active {
                    text-decoration: none;
                }
            }
        }
        .vash_tovar {
            display: flex;
            justify-content: space-between;
            margin-top: rem(10px);
            padding: rem(30px) rem(20px) rem(25px);
            border: 1px solid #e6e6e6;
            border-radius: 4px;
            box-shadow: 0.5px 0.9px 6px rgba(0, 0, 0, 0.1);
            .card_min_img {
                max-width: rem(167px);
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .vash_tovar_info_price {
                padding-left: rem(40px);
                .card_min_title {
                    font-size: rem(12px);
                    color: $sky-color;
                    line-height: rem(14px);
                    margin-bottom: rem(8px);
                    margin-top: rem(20px);
                }
                .card_min_price {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: rem(22px);
                    .new {
                        display: block;
                        border-radius: rem(3px);
                        text-align: center;
                        height: rem(35px);
                        width: 100%;
                        max-width: rem(95px);
                        line-height: rem(33px);
                        border: rem(1px) solid #ffe6bf;
                        background-color: #fff5e5;
                        span {
                            font-size: rem(14px);
                        }
                    }
                }
            }
        }
        .tovar_info_buy {
            display: flex;
            justify-content: space-between;
            margin-top: rem(10px);
            padding: rem(20px) rem(20px) rem(20px) rem(40px);
            border: 1px dashed #e6e6e6;
            border-radius: 4px;
            .info_buy_price {
                color: #282828;
                font-family: Arial;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                div {
                    color: #010101;
                    font-family: Arial;
                    font-weight: 400;
                    line-height: 35px;
                    font-size: 35px;
                    padding-left: 10px;
                    span {
                        font-size: 19px;
                    }
                }
            }
            .buy_button {
                max-width: rem(192px);
                width: 100%;
                height: 45px;
                font-size: 20px;
                font-weight: 400;
                line-height: 45px;
                text-transform: uppercase;
            }
        }
        .dop_tovar_info {
            margin-top: 15px;
            padding-left: 15px;
            .promo_sertif {
                margin-top: 5px;
                i {
                    margin-right: 10px;
                    color: #010101;
                    font-size: 10px;
                    text-decoration: none;
                }
                span {
                    color: #5198d9;
                    font-family: Arial;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 14px;
                    text-decoration: underline;
                }
            }
        }
    }
}