.city_search {
    margin: 0 0 rem(20px);
    input {
        max-width: rem(320px);
        width: 100%;
        height: rem(34px);
        background-color: #fff;
        border:rem( 1px) solid #c2bfbf;
        border-radius:rem( 4px);
        box-shadow: inset rem( 2px) 0rem( 9px) rgba(0, 0, 0, 0.1);
        padding: rem(10px);
    }   
}
.more_deliver_mobile_info {
    font-family: Arial;
    font-size: rem(14px);
    font-weight: 400;
    margin-bottom: rem(20px);
    &:last-of-type {
        margin-bottom: rem(50px);
    }
    .more_deliver_mobile_title {
        color: #b6b6b6;
        margin-bottom: rem(20px);
    }
    p {
        color: #282828;
        margin-bottom:rem( 5px);
    }
}