.mob_registration {
    display: none;
    position: absolute;
    top: 0;
    left: rem(5px);
    background-color: #fff;
    border: rem(1px) solid #f0f0f0;
    border-radius: rem(4px);
    max-width: rem(346px);
    width: 100%;    
    padding: rem(20px);
    z-index: 60;    
    .btn_red {
        max-width: 100%;
        z-index: 5;
        position: relative;
        background-color: #007520;
        border-radius: rem(5px);
        box-shadow: rem(1.9px) rem(2.3px) rem(5px) rgba(255, 171, 90, 0.47);            
        height: rem(61px);
        text-shadow: 0 rem(1px) rem(0.7px) rgba(40, 40, 40, 0.56);
        color: #fdfdfd;
        font-family: $Arial;
        font-size: rem(26px);
        font-weight: 400;
        text-transform: capitalize;
        line-height: rem(55px);
        .reg_btn_bg {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: rem(54px);
            background-color: #00b230;
            border-radius: rem(5px);            
            z-index: -1;
        }
    }
}
.mob_form_reg {
    margin-bottom: rem(30px);
}


.mob_registration_title {
    color: #282828;
    font-family: $Arial;
    font-size: rem(23px);
    font-weight: 400;
    line-height: rem(14px);
    margin-bottom: rem(20px);
}
.dop_reg_text_mobile {
    display: block;
    text-align: center;
    color: #5198d9;
    font-family: Arial;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(14px);
    text-decoration: underline;
    cursor: pointer;
}