.mobile_filter_popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 60;
    .filter_category {
        width: 100%;
        background: #fff;
        border: 1px solid #f0f0f0;
        border-radius: 4px;
        position: relative;
    }
    .fil_cat_title {
        padding-left: 35px;
        font-weight: 400;
        font-size: rem(24px);
        color: #282828;
    }
    .fit_title_mob {
        opacity: 0.5;
        color: #282828;
        font-family: Arial;
        font-size: 23px;
        font-weight: 400;
        line-height: 14px;
        padding-left: 15px;
    }
    .fit_podtitle {
        padding-left: 35px;
    }
    .fil_cat_section {
        border: none;
    }
    .section_content {
        flex-direction: column;
        padding: 0;
        .label {
            position: relative;
            opacity: 0.7;
            color: #282828;
            font-family: Arial;
            font-size: 18px;
            font-weight: 400;
            line-height: 14px;
            cursor: pointer;
        }
        label {
            position: relative;
            cursor: pointer;
        }
        &.book , &.list {
            label {
                line-height: 45px;
                width: 100%;
                padding-left: 35px;
                border-top: 2px solid #ebebeb;
                margin-bottom: 0;
                position: relative;
                &:last-child {
                    border-bottom: 2px solid #ebebeb;
                }
            }            
        }
        .checkbox-custom {
            display: none;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;   
            margin-right: 0;           
            box-shadow: inset 0.5px 0 15px rgba(194, 6, 28, 0.38);
            border-radius: none;
            border:none;
            background-color: none;         
        }
        .checkbox-custom:after {
            content: '';
            display: none;
            position: absolute;
            right: 25px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: rem(15px);
            height: rem(15px);
            background-image: url("C:/Users/Yaruy_Robot/Desktop/Dima_puzlls/Puzzles/img/check_ok.png");
            background-repeat: no-repeat;
            background-size: rem(15px) rem(15px);
            box-shadow: none;
            border-radius: none;
            border: none;            
            background-color: none;
        }
        .checkbox-custom::before {
            display: none;
        }        
        .checkbox:checked + {
            .checkbox-custom {
                display: block; 
             }   
             .checkbox-custom::before {
                display: none;
            }   
            .checkbox-custom::after {
                display: block;
            }     
        }
        .checkbox:checked ~ .label {
            opacity: 1; 
        }
    }
    .filter_track_wrap {
        padding: 30px;
        .filter_track_wrap_inner {
            border: 1px solid #ebebeb;
        }
        .filter_track {
            border-left: none;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}