.card_min{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(250px);
  padding: rem(10px);
  .card_min_img{
    width: 100%;
    height: rem(175px);
    margin-bottom: rem(15px);
    img{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card_min_title{
    font-size: rem(14px);
    color: $sky-color;
    line-height: 1.5;
    margin-bottom: rem(8px);
  }
  .add_comment{
    margin-bottom: rem(10px);
    align-self: flex-end;
  }
  .card_min_price{
    display: flex;
    justify-content: space-between;
          font-size: rem(22px);
    .new{
      display: block;
      border-radius: rem(3px);
      text-align: center;
      height: rem(35px);
      width: 100%;
      max-width: rem(95px);
      line-height: rem(33px);
      border: rem(1px) solid #ffe6bf;
      background-color: #fff5e5;
      span{
        font-size: rem(14px);
      }
    }
    .old{
      color: #000;
      opacity: .5;
      text-decoration: line-through;
    }
  }
}
.slider_cards_wrap{
  width: 100%;
  display: flex;
}
