<<<<<<< HEAD
.card_min{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: rem(250px);
  padding: rem(10px) rem(10px) rem(65px) rem(10px);
  border: rem(1px) dashed transparent;
  transition: border .3s;
  .card_min_img{
    width: 100%;
    height: rem(175px);
    margin-bottom: rem(15px);
    img{
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card_min_title{
    font-size: rem(14px);
    color: $sky-color;
    line-height: 1.5;
    margin-bottom: rem(8px);
  }
  .add_comment{
    margin-bottom: rem(10px);
    align-self: flex-end;
  }
  .rating{
    width: rem(80px);
    height: rem(14px);
  }
  .card_min_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
          font-size: rem(22px);
    .new{
      display: block;
      border-radius: rem(3px);
      text-align: center;
      height: rem(35px);
      width: 100%;
      max-width: rem(95px);
      line-height: rem(33px);
      border: rem(1px) solid #ffe6bf;
      background-color: #fff5e5;
      span{
        font-size: rem(14px);
      }
    }
    .old{
      color: #000;
      opacity: .5;
      text-decoration: line-through;
    }
  }
  .card_buy_set{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .3s;
    align-items: center;
    width: calc(100% + 100px);
    justify-content: space-between;
    padding: 0 rem(10px) rem(10px);
    .Ñompare{
      color: #000;
      opacity: .5;
      font-size: rem(40px);
      cursor: pointer;
    }
    .like_position{
      color: $orange-color;
      font-size: rem(40px);
      cursor: pointer;
    }
  }
  &:hover{
    border: rem(1px) dashed #888;
    .card_buy_set{
      opacity: 1;
    }
  }
}
.slider_cards{
=======
.slider_cards {
>>>>>>> pb/master
  width: 100%;
  margin-bottom: rem(10px);
  .slider_cards_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .pagination_nav {
    .pagination_buttons {
      border: solid rem(1px) #d2d2d2;
    }
  }
}