.oplata_inner {
    margin-bottom: rem(30px);
    &.no_active {
        opacity: .4;
        .oplata_title {
            span {
                border-color: #000;
            }
        }
    }
}

.oplata_t_form_inner {
    display: none;
    &.active {
        display: block;
    }
}

.oplata_title {
    color: #000;
    font-family: Arial;
    font-size: rem(18px);
    font-weight: 400;
    line-height: rem(14px);
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
    span {
        position: absolute;
        display: inline-block;
        width: rem(35px);
        height: rem(35px);
        border-radius: rem(20px);
        border: 2px solid #5198d9;
        color: #282828;
        font-size: rem(20px);
        left: rem(-45px);
        top: rem(-10px);
        line-height: rem(31px);
        text-align: center;
    }
}

.oplata_tabs {
    display: flex;
    justify-content: flex-start;
    padding-left: rem(5px);
    margin-top: rem(19px);
    .oplata_tab_title {
        border: 1px solid #dadada;
        border-radius: 4px 4px 0 0;
        padding: rem(10px);
        margin-right: rem(10px);
        background: #fff;
        position: relative;
        top: 1px;
        z-index: 2;
        opacity: .5;
        &:last-of-type {
            margin-top: 0;
        }
        &.active {
            border-bottom: none;
            opacity: 1;
        }
    }
}

.oplata_tovara_form {
    border: rem(1px) solid #dadada;
    position: relative;
    z-index: 1;
    border-radius: rem(4px);
    padding: rem(20px);
    padding-bottom: rem(30px);
    &.second_oplata_form {
        margin-top: rem(20px);
    }
    .oplata_inp_title {
        margin-bottom: rem(10px);
        color: #282828;
        font-family: Arial;
        font-size: rem(14px);
        font-weight: 400;
        line-height: rem(14px);
    }
    .oplata_inputs {
        margin-top: rem(20px);
        &:first-child {
            margin-top: 0;
        }
        input {
            width: 100%;
            height: rem(34px);
            padding: rem(10px);
            border: rem(1px) solid #c2bfbf;
            border-radius: rem(4px);
            box-shadow: insetrem(2px) 0 rem(9px) rgba(0, 0, 0, 0.1);
            &:-moz-placeholder {
                color: #bababa;
                font-family: Arial;
                font-size: rem(14px);
                font-weight: 400;
                line-height: rem(14px);
            }
            &::-webkit-input-placeholder {
                color: #bababa;
                font-family: Arial;
                font-size: rem(14px);
                font-weight: 400;
                line-height: rem(14px);
            }
            &.active {
                border: 1px solid #00b230;
            }
        }
    }
}

.oplata_btn {
    width: rem(120px);
    margin-top: rem(20px);
    font-size: rem(20px);
}

.regular_customer_title {
    color: #282828;
    font-family: Arial;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(14px);
    margin-bottom: 20px;
}

.pss_frgt {
    color: #5198d9;
    font-family: Arial;
    font-size: rem(14px);
    font-weight: 400;
    line-height: rem(14px);
    text-decoration: underline;
    margin-top: rem(10px);
    display: block;
}

.oplata_ch_box {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 15px;
    .oplata_radio_inner {
        flex: 1 1 70px;
        position: relative;
        &.radio_text {
            flex: 2 1 70px;
        }
        input[type=radio] {
            position: absolute;
            visibility: hidden;
            &:checked~label {
                .check {
                    box-shadow: none;
                    &::before {
                        display: block;
                    }
                }
            }
        }
        label {
            cursor: pointer;
            -webkit-transition: all 0.25s linear;
            z-index: 9;
            color: black;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            text-transform: uppercase;
            height: 83px;
            display: block;
            max-width: 70px;
            position: relative;
            span {
                position: absolute;
                top: 0;
                left: 25px;
                right: 0;
                bottom: 0;
                margin: auto;
                display: block;
                height: 30px;
            }
        }
        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left: 30px;
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }
}

.delivery_ch_box {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada;
    li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 30px;
        &.selct_inp {
            padding-left: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        input[type=radio] {
            position: absolute;
            visibility: hidden;
            &:checked~label {
                .check {
                    box-shadow: none;
                    &::before {
                        display: block;
                    }
                }
            }
        }
        label {
            cursor: pointer;
        }
        .list_select {
            position: relative;
            max-width: 438px;
            width: 100%;
            height: 34px;
            background-color: white;
            border: 1px solid #00b230;
            border-radius: 4px;
            box-shadow: inset 2px 0 9px rgba(0, 0, 0, 0.1);
            padding: 10px 0 10px 15px;
            &:before {
                content: '>';
                position: absolute;
                right: 15px;
                top: 0;
                bottom: 0;
                margin: auto;
                transform: rotate(90deg);
            }
            .option_select {
                color: #282828;
                font-family: Arial;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
            }
            .list_deliver_post,
            .list_curier_adrress {
                display: none;
            }
        }
    }
}

.oplata_comment_inpt {
    margin-top: 20px;
    textarea {
        margin-top: 15px;
        width: 100%;
        height: 94px;
        padding: 15px;
        background-color: white;
        border: 1px solid #c2bfbf;
        border-radius: 4px;
        box-shadow: inset 2px 0 9px rgba(0, 0, 0, 0.1);
        resize: none;
    }
}

.check {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid #888;
    box-shadow: inset 2px 0 9px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    &:before {
        display: none;
        position: absolute;
        content: '';
        border-radius: 100%;
        top: 2px;
        left: 2px;
        width: 12px;
        height: 12px;
        background-color: #5198d9;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }
}

// oplata right block
.oplata_right_inner {
    max-width: 427px;
    width: 100%;
    background-color: #f5ffff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 10px;
    padding-bottom: 40px;
    position: relative;
    .selected_tovar_list {
        .vash_tovar {
            background: #fff;
            margin-bottom: 10px;
            margin-top: 0;
            cursor: pointer;
            &:last-of-type {
                margin-bottom: 0;
            }
            .card_min_img {
                max-width: 100px;
            }
            .card_min_title {
                margin-top: 5px;
            }
        }
    }    
    .dop_tovar_info {
        padding-left: 30px;
    }
    .zakaz_edit {
        width: 221px;
        height: 44px;
        background-color: white;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        text-align: center;
        line-height: 44px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -22px;
        margin: auto;
        z-index: 5;
        cursor: pointer;
        color: black;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;       
        display: block;
    }
}


.order_confirm {
    margin-top: 35px;
    padding: 20px 25px;
    text-align: center;
    border: 1px dashed #b8b9b9;
    position: relative;
    .tovar_sum {
        position: absolute;
        left: 0;
        top: -15px;
        text-align: center;
        width: 100%;
        .tovar_sum_inner {
            padding: 5px 20px;
            background: #f5ffff;
            z-index: 3;
            display: inline-block;
            color: #282828;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            span {
                margin-left: 35px;
                color: #010101;
                font-family: Arial;
                font-weight: 400;
                line-height: 2px;
                font-size: 38px;
                position: relative;
                top: 6px;
                span {
                    font-size: 19px;
                    margin-left: 0px;
                    top: -1px;
                    left: -5px;
                }
            }
        }
    }
    .confim_oplata_btn {
        .btn_red {
            text-align: center;
        }
    }
}