.oplata_inner {
    margin-bottom: rem(30px);
    &.no_active {
        opacity: .4;
        .oplata_title {
            span {
                border-color: #000;
            }
        }
    }
}

.oplata_t_form_inner {
    display: none;
    &.active {
        display: block;
    }
}

.oplata_title {
    @include fsz14px400;
    color: #000;    
    font-size: rem(18px);    
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #dadada;
    span {
        position: absolute;
        display: inline-block;
        width: rem(35px);
        height: rem(35px);
        border-radius: rem(20px);
        border: 2px solid #5198d9;
        color: #282828;
        font-size: rem(20px);
        left: rem(-45px);
        top: rem(-10px);
        line-height: rem(31px);
        text-align: center;
    }
}

.oplata_tabs {
    display: flex;
    justify-content: flex-start;
    padding-left: rem(5px);
    margin-top: rem(19px);
    .oplata_tab_title {
        border: 1px solid #dadada;
        border-radius: 4px 4px 0 0;
        padding: rem(10px);
        margin-right: rem(10px);
        background: #fff;
        position: relative;
        top: 1px;
        z-index: 2;
        opacity: .5;
        &:last-of-type {
            margin-top: 0;
        }
        &.active {
            border-bottom: none;
            opacity: 1;
        }
    }
}

.oplata_tovara_form {
    border: rem(1px) solid #dadada;
    position: relative;
    z-index: 1;
    border-radius: rem(4px);
    padding: rem(20px);
    padding-bottom: rem(30px);
    &.second_oplata_form {
        margin-top: rem(20px);
    }
    .oplata_inp_title {
        margin-bottom: rem(10px);
        @include fsz14px400;
    }
    .oplata_inputs {
        margin-top: rem(20px);
        &:first-child {
            margin-top: 0;
        }
        input {
            width: 100%;
            height: rem(34px);
            padding: rem(10px);
            border: rem(1px) solid #c2bfbf;
            border-radius: rem(4px);
            box-shadow: insetrem(2px) 0 rem(9px) rgba(0, 0, 0, 0.1);
            &:-moz-placeholder {
                color: #bababa;
                @include fsz14px400;
            }
            &::-webkit-input-placeholder {
                color: #bababa;
                @include fsz14px400;
            }
            &.active {
                border: 1px solid #00b230;
            }
        }
    }
}

.oplata_btn {
    width: rem(120px);
    margin-top: rem(20px);
    font-size: rem(20px);
}

.regular_customer_title {
    @include fsz14px400;
    margin-bottom:  rem(20px);
}

.pss_frgt {
    color: #5198d9;
    @include fsz14px400;
    text-decoration: underline;
    margin-top: rem(10px);
    display: block;
}

.oplata_ch_box {
    display: flex;
    justify-content: space-between;
    padding-top:  rem(15px);
    padding-bottom:  rem(20px);
    border-bottom: 1px solid #dadada;
    margin-bottom: rem(15px);
    .oplata_radio_inner {
        flex: 1 1  rem(70px);
        position: relative;
        &.radio_text {
            flex: 2 1  rem(70px);
        }
        input[type=radio] {
            position: absolute;
            visibility: hidden;
            &:checked~label {
                .check {
                    box-shadow: none;
                    &::before {
                        display: block;
                    }
                }
            }
        }
        label {
            cursor: pointer;
            -webkit-transition: all 0.25s linear;
            z-index: 9;
            @include fsz14px400;
            text-transform: uppercase;
            height: rem(83px);
            display: block;
            max-width:  rem(70px);
            position: relative;
            span {
                position: absolute;
                top: 0;
                left:  rem(25px);
                right: 0;
                bottom: 0;
                margin: auto;
                display: block;
                height:  rem(30px);
            }
        }
        img {
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            left:  rem(30px);
            bottom: 0;
            right: 0;
            margin: auto;
        }
    }
}

.delivery_ch_box {
    margin-top:  rem(20px);
    padding-bottom: rem(20px);
    border-bottom: 1px solid #dadada;
    li {
        position: relative;
        padding-left: rem(30px);
        margin-bottom: rem(30px);
        &.selct_inp {
            padding-left: 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
        input[type=radio] {
            position: absolute;
            visibility: hidden;
            &:checked~label {
                .check {
                    box-shadow: none;
                    &::before {
                        display: block;
                    }
                }
            }
        }
        label {
            cursor: pointer;
        }
        .list_select {
            position: relative;
            max-width: rem(438px);
            width: 100%;
            height: rem(34px);
            background-color: white;
            border: 1px solid #00b230;
            border-radius: 4px;
            box-shadow: inset 2px 0 9px rgba(0, 0, 0, 0.1);
            padding: rem(10px) 0 rem(10px) rem(15px);
            &:before {
                content: '>';
                position: absolute;
                right: rem(15px);
                top: 0;
                bottom: 0;
                margin: auto;
                transform: rotate(90deg);
            }
            .option_select {
                @include fsz14px400;
            }
            .list_deliver_post,
            .list_curier_adrress {
                display: none;
            }
        }
    }
}

.oplata_comment_inpt {
    margin-top: rem(20px);
    textarea {
        margin-top: rem(15px);
        width: 100%;
        height: rem(94px);
        padding: rem(15px);
        background-color: white;
        border: 1px solid #c2bfbf;
        border-radius: 4px;
        box-shadow: inset 2px 0 9px rgba(0, 0, 0, 0.1);
        resize: none;
    }
}

.check {
    display: block;
    position: absolute;
    width: rem(18px);
    height: rem(18px);
    border-radius: rem(15px);
    background-color: white;
    border: 1px solid #888;
    box-shadow: inset 2px 0 9px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
    &:before {
        display: none;
        position: absolute;
        content: '';
        border-radius: 100%;
        top: 2px;
        left: 2px;
        width: rem(12px);
        height: rem(12px);
        background-color: #5198d9;
        margin: auto;
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
    }
}

// oplata right block
.oplata_right_inner {
    max-width: rem(427px);
    width: 100%;
    background-color: #f5ffff;
    border: 1px solid #e6e6e6;
    border-radius: rem(4px);
    padding: rem(10px);
    padding-bottom: rem(40px);
    position: relative;
    .selected_tovar_list {
        margin-bottom: rem(35px);
        .vash_tovar {
            background: #fff;
            margin-bottom: rem(10px);
            margin-top: 0;
            cursor: pointer;
            &:last-of-type {
                margin-bottom: 0;
            }
            .card_min_img {
                max-width: rem(100px);
                height: auto;
            }
            .card_min_title {
                margin-top: rem(5px);
            }
        }
    }    
    .dop_tovar_info {
        padding-left: rem(30px);
    }
    .zakaz_edit {
        width: rem(221px);
        height: rem(44px);
        background-color: #fff;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        text-align: center;
        line-height: rem(44px);
        position: absolute;
        left: 0;
        right: 0;
        bottom: rem(-22px);
        margin: auto;
        z-index: 5;
        cursor: pointer;        
        @include fsz14px400;  
        color: #000;    
        display: block;
    }
}


.order_confirm {   
    padding:  rem(20px)  rem(25px);
    text-align: center;
    border: 1px dashed #b8b9b9;
    position: relative;
    .tovar_sum {
        position: absolute;
        left: 0;
        top:  rem(-15px);
        text-align: center;
        width: 100%;
        .tovar_sum_inner {
            padding: rem(5px)  rem(20px);
            background: #f5ffff;
            z-index: 3;
            display: inline-block;
            @include fsz14px400;
            span {
                margin-left: rem(35px);
                color: #010101;
                font-family: Arial;
                font-weight: 400;
                line-height: 2px;
                font-size: rem(38px);
                position: relative;
                top: rem(6px);
                span {
                    font-size: rem(19px);
                    margin-left: 0px;
                    top: -1px;
                    left: -5px;
                }
            }
        }
    }
    .confim_oplata_btn {
        .btn_red {
            text-align: center;
        }
    }
}