.price_icon_fulltovar {
    text-align: left;
    margin-bottom: rem(25px);
    .card_min_price {
        display: inline-block;
        margin-right: rem(10px);
    }
    .full_tovar_icon {
        display: inline-block;
        vertical-align: top;
        div {
            display: inline-block;
            position: relative;
            cursor: pointer;
            &:hover {
                span {
                    height: rem(31px);
                }
            }
            span {
                display: block;
                width: rem(50px);
                height: rem(30px);
                text-align: center;
                background-image: -moz-linear-gradient(90deg, rgb(242, 13, 59) 0%, rgb(255, 47, 52) 100%);
                background-image: -webkit-linear-gradient(90deg, rgb(242, 13, 59) 0%, rgb(255, 47, 52) 100%);
                background-image: -ms-linear-gradient(90deg, rgb(242, 13, 59) 0%, rgb(255, 47, 52) 100%);
                margin-right: rem(10px);
                border-radius: rem(5px);
                z-index: 2;
                position: relative;
                line-height: rem(35px);
                left: rem(1px);
                top: rem(1px);
                i {
                    color: #fff;
                    font-size: rem(20px);
                }
            }
            .bg_btn {
                position: absolute;
                left: 0;
                top: 0;
                width: rem(52px);
                height: rem(34px);
                background: #9b0c22;
                z-index: 1;
                border-radius: rem(5px);
            }
        }
    }
}

.full_tovar_main_btn {
    background: #ededed;
    padding: rem(10px) 0 rem(15px);
    margin-bottom: rem(40px);
}

.btn_mobile {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: rem(10px);
    &:last-child {
        margin-right: 0;
    }
    &.green {
        .bg_btn {
            background-color: #19750d;
        }
        span {
            background-image: linear-gradient(to top, #209511 0%, #54ca44 60%, #54ca44 100%);
        }
    }
    &.blue {
        .bg_btn {
            background-color: #00769d;
        }
        span {
            background-image: linear-gradient(to top, #008ebe 0%, #14bcf4 76%, #14bcf4 100%);
        }
    }
    .bg_btn {
        position: absolute;
        left: 0;
        top: 0;
        width: 1rem(00px);
        width: 1rem(60px);
        height: rem(61px);
        border-radius: rem(5px);
        box-shadow: 1rem(.9px) 2rem(.3px)rem(5px) rgba(152, 12, 36, 0.47);
        z-index: 1;
    }
    span {
        position: relative;
        left: rem(1px);
        top: rem(1px);
        display: block;
        width: 1rem(58px);
        height: rem(54px);
        line-height: rem(54px);
        text-shadow: 0rem(1px) 0rem(.7px) rgba(40, 40, 40, 0.56);
        color: #fdfdfd;
        font-family: Arial;
        font-size: rem(26px);
        font-weight: 400;
        text-align: center;
        border-radius: rem(5px);
        z-index: 2;
    }
}