.full_tovar_price {
    flex: 0 1 rem(303px);
    background-color: white;
    border: rem(1px) dashed #cccccc;
    padding: rem(15px) rem(5px) rem(45px) rem(30px);
    .big_price {
        color: #282828;
        font-family: Arial;
        font-weight: 400;
        line-height: rem(47px);
        font-size: rem(24px);
        margin-bottom: rem(10px);
        span {
            font-size: rem(47px);
        }
    }
    .deliver_check {
        margin-bottom: rem(10px);
        i {}
        span {
            color: #282828;
            font-family: Arial;
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(14px);
        }
    }
    .buy_button {
        width: rem(204px);
        height: rem(63px);  
        margin-bottom: rem(15px);  
        font-size: rem(24px);
        font-weight: 400;
        line-height: rem(63px);   
    }
    .cheaper_block {
        margin-bottom: rem(25px);
        a {
            color: #5198d9;
            font-family: Arial;
            font-size: rem(12px);
            font-weight: 400;
            line-height: rem(14px);
            text-decoration: underline;
            &:hover {
                color: #2E75B7;
                transition: color .3s linear;
            }
        }
    }
    .characteristics_list {
        margin-bottom: rem(25px);
        li {
            margin-bottom: rem(5px);
            display: flex;
            justify-content: flex-start;
            font-family: Arial;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            .characteristics_list_title {
                margin-right: rem(5px);
                color: #878787;
            }
            .characteristics_list_info {
                color: #282828;
                a {
                    color: #5198d9;
                    text-decoration: underline;
                }
            }
        }
    }
    .all_characteristics {
        position: relative;
        .show_all_characteristics {
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
            i {
                margin-left: 15px;
                width: 15px;
                height: 10px;
                position: relative;
                &::before {
                    content: ">";
                    position: absolute;
                    display: block;
                    top: -1px;
                    right: 0;
                    color: #282828;
                    font-size: 15px;
                    z-index: 3;
                    transform: rotate(90deg);
                }
            }
           
        }
    }
}