.full_tovar_delivery {
    flex: 0 1 rem(194px);
    margin-top: rem(6px);
    .delyvery_block {
        border: rem(1px) solid #7f7f7f;
        padding: rem(38px) rem(5px) rem(18px) rem(15px);
        position: relative;
        margin-bottom: rem(42px);
        .delivery_title {
            background: #ffffff;
            padding: 0 rem(16px) 0 rem(13px);
            position: absolute;
            left: rem(30px);
            top: rem(-10px);
            color: #282828;
            font-family: Arial;
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(14px);
        }
        .delivery_info {
            margin-bottom: rem(25px);
            p{
                font-family: Arial;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                color: #000000;
                margin-bottom: rem(5px);
                &:last-of-type {
                    margin-bottom: 0;
                }
                span {
                    color: #878787;
                    margin-right: rem(5px);
                }
            }
        }
        .delivery_info_links {
            a {
                color: #282828;
                font-family: Arial;
                font-size: rem(14px);
                font-weight: 400;
                line-height: rem(14px);
                text-decoration: underline;
                display: block;
                margin-bottom: rem(15px);
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    .pay_info {
        color: #282828;
        font-family: Arial;
        font-size: rem(12px);
        font-weight: 400;
        line-height: rem(14px);
    }
}




