@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/iconmoon/icomoon.eot?te7htt');
  src:  url('/fonts/iconmoon/icomoon.eot?te7htt#iefix') format('embedded-opentype'),
    url('/fonts/iconmoon/icomoon.ttf?te7htt') format('truetype'),
    url('/fonts/iconmoon/icomoon.woff?te7htt') format('woff'),
    url('/fonts/iconmoon/icomoon.svg?te7htt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auricular-phone-symbol-in-a-circle:before {
  content: "\e910";
}
.icon-big-shopping-trolley:before {
  content: "\e911";
}
.icon-boy-broad-smile:before {
  content: "\e912";
}
.icon-contract:before {
  content: "\e913";
}
.icon-eye2:before {
  content: "\e914";
}
.icon-favorite-heart-button:before {
  content: "\e915";
}
.icon-gift-card:before {
  content: "\e916";
}
.icon-hourglass:before {
  content: "\e917";
}
.icon-mute:before {
  content: "\e918";
}
.icon-reload2:before {
  content: "\e919";
}
.icon-shopping-basket:before {
  content: "\e91a";
}
.icon-smiling-girl:before {
  content: "\e91b";
}
.icon-speech-bubble-with-text-lines:before {
  content: "\e91c";
}
.icon-telephone:before {
  content: "\e91d";
}
.icon-user-1:before {
  content: "\e91e";
}
.icon-user:before {
  content: "\e91f";
}
.icon-video-camera:before {
  content: "\e920";
}
.icon-hand-finger-pressing-a-circular-ring-button:before {
  content: "\e90a";
}
.icon-money:before {
  content: "\e90b";
}
.icon-open-box:before {
  content: "\e90c";
}
.icon-pencil:before {
  content: "\e90d";
}
.icon-reload:before {
  content: "\e90e";
}
.icon-speech-bubble:before {
  content: "\e90f";
}
.icon-balance:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-discount:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-eye:before {
  content: "\e904";
}
.icon-gift:before {
  content: "\e905";
}
.icon-home:before {
  content: "\e906";
}
.icon-information:before {
  content: "\e907";
}
.icon-like:before {
  content: "\e908";
}
.icon-magnifying-glass:before {
  content: "\e909";
}
