.filter_settings {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: rem(40px);
  margin-bottom: rem(50px);
}
.filter_elem {
  display: inline-block;
  border: solid rem(1px) $grey-color;
  background-color: #fef8f9;
  height: rem(31px);
  line-height: rem(28px);
  padding: 0 rem(12px);
  cursor: pointer;
  color: $grey-dark;
  border-radius: rem(12px);
  transition: .3s;
  margin-right: rem(12px);
  margin-bottom: rem(10px);
  &.filter_reset {
    background-color: #fff;
    border-color: $red-color;
    color: $black-color;
    i {
      display: none;
    }
  }
  &:hover {
    background-color: transparent;
  }
}
.filter_left {
  display: flex;
  align-items: flex-start;
  .list_filter_setting {
    display: flex;
    flex-wrap: wrap;
  }
  .filter_search {
    display: block;
    font-size: rem(14px);
    margin-top: rem(7px);
    color: $grey-dark;
    margin-left: rem(15px);
  }
}
.queue {
  display: block;
  position: relative;
  height: rem(27px);
  width: 100%;
  max-width: rem(157px);
  cursor: pointer;
  padding:0 rem(10px);
  border-radius: rem(5px);
  color: $grey-dark;
  border: solid rem(1px) $grey-color;
  .queue_active{
    font-size: rem(14px);
    text-transform: lowercase;
    width: 100%;
    position: relative;
    line-height: rem(24px);
    &::before{
      content: ">";
      position: absolute;
      right: 0;
      top: 0;
      opacity: .5;
      font-size: rem(20px);
      transform: rotate(90deg);
    }
  }
  .queue_top {
    position: absolute;
    top: rem(-18px);
    color: $grey-dark;
    opacity:.5;
    line-height: 1;
  }
  .select_queue {
    position: absolute;
    display: none;
    flex-direction: column;
    padding: rem(20px);
    background-color: #fff;
    top: 100%;
    width:rem(220px);
    border-radius: rem(5px);
    border: solid rem(1px) $grey-color;
    right: 0;
    line-height: 1.2;
    li{
      margin: rem(3px) 0;
      &:hover{
        color: $red-color;
      }
    }
  }
  &:hover{
    .select_queue{
      display: flex;
    }
  }
}