.pagination {
  margin:rem(20px) 0 rem(50px);
  display: flex;
  align-items: center;
  .pagination_more {
    display: block;
    width: 100%;
    max-width: rem(335px);
    border: solid rem(1px) #dadada;
    background-color: transparent;
    height: rem(51px);
    line-height: rem(48px);
    color: $sky-color;
    font-weight: 400;
    position: relative;
    padding-left: rem(30px);
    cursor: pointer;
    font-size: rem(23px);
    margin-right: rem(17px);
    border-radius: rem(4px);
    i {
      position: absolute;
      left: rem(15px);
      top: 0;
    }
    &.active {
      i {
        animation: load_more 2s infinite linear;
      }
    }
  }
  .pagination_page {
    [class^="btn"] {
      display: inline-block;
      height: rem(51px);
      margin-right: rem(12px);
      font-size: rem(30px);
      line-height: rem(47px);
      cursor: pointer;
      color: #5b5b5b;
      width: rem(51px);
      text-align: center;
      &.active,&:hover {
        color: #fff;
        border-radius: rem(4px);
        background-image: linear-gradient(to top, #f20d3b 0%, #ff2f34 100%);
      }
    }
  }
}
@keyframes load_more {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}