.contact_set {
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  width: 100%;
  flex: 1 1 50%;
  .contact_inform {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(15px);
    a {
      color: $sky-color;
      margin: 0 rem(5px);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  @include respond-to(desktop) {
    padding-left: 5%;
  }
}
.select_set {
  .select_active {
    cursor: pointer;
    position: relative;
    color: $sky-color;
    transition: color .3s;
    &::before {
      content: "";
      display: block;
      width: 0;
      top: rem(5px);
      right: rem(-15px);
      height: 0;
      transform: rotate(0);
      transition: transform .3s;
      position: absolute;
      border-left: rem(4px) solid transparent;
      border-right: rem(4px) solid transparent;
      border-top: rem(7px) solid #000;
    }
  }
  &:hover {
    .select_active {
      color: #000;
      &::before {
        transform: rotate(90deg);
      }
    }
    .select_list{
      visibility: visible;
      opacity: 1;
    }
  }
  margin-right: rem(25px);
  .select_list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
    background-color: #fff;
    padding: rem(10px) rem(10px) rem(10px) 0;
    li{
      cursor: pointer;
      margin-bottom: rem(2px);
    }
  }
}
.contact_numbers {
  display: flex;
  align-items: center;
  .icon_all_number {
    color: #000;
    margin-right: rem(18px);
    font-size: rem(44px);
  }
  .arr_numbers {
    margin-bottom: rem(5px);
    display: flex;
    flex-wrap: wrap;
    a {
      font-size: rem(22px);
      color: $black-color;
      margin-right: rem(34px);
    }
  }
  .working_firm {
    display: flex;
    a {
      color: $sky-color;
      &:hover {
        text-decoration: underline;
      }
    }
    .select_set {
      margin-left: rem(38px);
    }
  }
}
