.logo{
  display: block;
  width: 100%;
  flex: 1 1 25%;
  max-width: rem(260px);
  height: rem(105px);
  font: 700 rem(32px)/rem(100px) $Uni-Sans;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: $red-color;
}
