.cashbox_set {
  width: 100%;
  max-width: rem(280px);
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .user_enter_btn {
    color: $sky-color;
    transition: color .3s;
    display: inline-block;
    margin-bottom: rem(15px);
    i {
      color: $black-color;
      text-decoration: none;
      margin-right: rem(10px);
    }
    &:hover {
      color: $black-color;
    }
  }
  .cashbox_info {
    display: flex;
    .compare, .desires, .basket {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: rem(60px);
      font-size: rem(10px);
      color: $sky-color;
      border-left: solid rem(1px) #e6e6e6;
      .counts {
        position: absolute;
        display: block;
        width: rem(16px);
        height: rem(16px);
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        top: rem(10px);
        line-height: rem(15px);
        border: 1px solid;
        font-size: rem(12px);
        color: #000;
      }
      i {
        font-size: rem(32px);
      }
    }
    .compare {
      .counts {
        border-color: #9a9a9a;
      }
      i {
        color: #9a9a9a;
      }
    }
    .desires {
      .counts {
        border-color: #ffac5c;
      }
      i {
        color: #ffac5c;
      }
    }
    .basket {
      .counts {
        border-color: #fc303d;
      }
      i {
        color: #fc303d;
      }
    }
  }
}
