.product_slider{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(71, 41, 11, 0.82);
  .product_slider_wrap{
    width: 100%;
    max-width: rem(995px);
    height: auto;
    background-color: #fff;
    padding: rem(50px) rem(45px);
    border-radius: rem(3px);
    .slider_about_price{
      padding: rem(20px);
      display: inline-flex;
      flex-direction: column;
      position: relative;
      border: rem(1px) dotted $black-color;
      &>[class^="btn"],&>button{
        text-transform: none;
        font-size: rem(24px);
        font-weight: 500;
        padding: rem(20px) rem(45px);
        i{
          margin-right: rem(18px);
        }
      }
      .slider_price_count{
        position: absolute;
        bottom: calc(100% - 1rem);
        padding: 0 rem(5px);
        display: inline-block;
        background-color: #fff;
        left: rem(20px);
        font-size: rem(16px);
        color: #7d7d7d;
        span{
          font-size: rem(48px);
          color: #000;
          padding: 0 rem(5px);
        }
      }
      .slider_product_code{
        margin-top: rem(10px);
        margin-bottom: rem(-30px);
        align-self:center;
        border: rem(1px) solid #ffe6bf;
        background-color: #fff5e5;
        display: inline-block;
        padding: rem(3px) rem(8px);
        border-radius: rem(3px);
        span{
          font-weight: 700;
        }
      }
    }
  }
}
