
$one-rem:16px;


$url-path:"../../";

$break-mobile: 768px;
$break-tablet: 1024px;

$devices: not-desktop phablets phones-tablets;
$devices: not-desktop phablets phones-tablets;

/*color*/
$red-color: rgba(235, 27, 53, 1);
$sky-color: rgba(81, 152, 217, 1);
$black-color: rgba(40, 40, 40, 1);

/*fonts*/
$Arial: "Arial", sans-serif;
$Uni-Sans: "Uni Sans", sans-serif;
