.card_min {
    position: relative;
    width: 100%;
    flex: 1 1 rem(240px);      
    overflow: hidden;   
    /* max-width: 15.625rem; */
    // z-index: 5;
    background-color: #fff;   
    height: rem(335px);
    padding: rem(10px) rem(10px) rem(65px) rem(10px);
    transition: border .3s;
    margin-bottom: rem(20px);
    z-index: 1;
    &:last-of-type , &:nth-last-child(2){
      max-width: 260px;      
    }        
    &:hover {
      overflow: visible;
      z-index: 25;     
    }
    /* width: 100%; */
    /* justify-content: flex-end; */
    // ------------------------------------
    // position: relative;
    // width: 100%;
    // flex: 1 1 240px;
    // max-width: rem(250px);
    // z-index: 5;
    // background-color: #fff;
    // overflow: hidden;
    // height: rem(310px);
    // padding: rem(10px) rem(10px) rem(65px) rem(10px);
    // transition: border .3s;
    // margin-bottom: rem(50px);
    .card_min_wrap {
        // min-width: 100%;
        // min-height: 100%;
        // display: flex;
        // padding: rem(25px) rem(45px) rem(25px) 0;
        // position: absolute;
        // background-color: #fff;
        // top: rem(-25px);
        // right: rem(-45px);
        // display: flex;
        // justify-content: flex-end;
        // border: rem(1px) dashed #e6e6e6;
        // -----------------------       
        min-height: 100%;
        display: flex;
        padding: rem(25px) rem(10px);
        padding-right: rem(75px);        
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        z-index: 122;
        display: flex;
        justify-content: flex-end;       
        &:hover {   
          border: rem(1px) dashed #e6e6e6;
          width: rem(420px);
          left: rem(-160px);
          margin: -1px 0;
          margin-left: rem(76px);      
          .card_min_multimedia {
              display: flex;
          }               
      }
        .card_min_content {
            display: flex;
            flex-direction: column;
            width: rem(250px);
            padding: rem(10px);
        }
        .card_min_multimedia {
            display: flex;
            width: 82px;
            flex-direction: column;
            align-items: center;
            display: none;
            .add_video,
            .add_img {
                display: flex;
                flex-direction: column;
                font-size: rem(12px);
                text-align: center;
                padding-bottom: rem(10px);
                i {
                    font-size: rem(50px);
                    margin-bottom: rem(8px);
                }
            }
            .add_video {
                border-bottom: dashed rem(1px) #000;
            }
        }
    }
    .card_min_img {
        width: 100%;
        height: rem(175px);
        margin-bottom: rem(15px);
        img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .card_min_title {
        font-size: rem(14px);
        color: $sky-color;
        line-height: 1.5;
        margin-bottom: rem(8px);
    }
    .add_comment {
        margin-bottom: rem(10px);
        align-self: flex-end;
    }
    .rating {
        width: rem(80px);
        height: rem(14px);
        margin-bottom: rem(10px);
    }
    .card_min_price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: rem(22px);
        .new {
            display: block;
            border-radius: rem(3px);
            text-align: center;
            height: rem(35px);
            width: 100%;
            max-width: rem(95px);
            line-height: rem(33px);
            border: rem(1px) solid #ffe6bf;
            background-color: #fff5e5;
            span {
                font-size: rem(14px);
            }
        }
        .old {
            color: #000;
            opacity: .5;
            text-decoration: line-through;
        }
    }
    .card_buy_set {
        position: relative;
        display: flex;
        justify-content: space-between;
        opacity: 1;
        transition: opacity .3s;
        align-items: center;
        justify-content: space-between;
        margin: rem(10px) 0;
        .min_buy {
            max-width: rem(90px);
            font-size: rem(14px);
            text-transform: none;
            padding: 0;
            width: 100%;
            height: rem(33px);
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                margin-right: rem(7px);
            }
        }
        .сompare {
            color: #000;
            opacity: .5;
            font-size: rem(40px);
            cursor: pointer;
        }
        .like_position {
            color: $orange-color;
            font-size: rem(40px);
            cursor: pointer;
        }
    }
    .check_delivery {
        display: flex;
        align-items: flex-end;
        margin-bottom: rem(15px);
        font-size: rem(12px);
        .ok_deliver {
            margin-right: rem(30px);
            width: rem(27px);
            height: rem(27px);
            background-color: #fef8f9;
            border: 1px solid #dadada;
            border-radius: rem(7px);
            box-shadow: inset -0.9px 0.5px 5px rgba(194, 6, 28, 0.38);
            position: relative;
            &:before {
                content: '';
                position: absolute;
                left: 3px;
                top: -10px;
                margin: auto;
                width: rem(35px);
                height: rem(35px);
                background-image: url("/img/check_ok.png");
                background-repeat: no-repeat;
                background-size: rem(25px) rem(30px);
                box-shadow: none;
                border-radius: none;
                border: none;
                background-color: none;
                z-index: 10;
            }
        }
        span {
            margin: 0 rem(3px);
        }
    }
    .card_min_age {
        margin-bottom: rem(15px);
        font-size: rem(12px);
    }
    .card_min_detail {
        margin-bottom: rem(15px);
        font-size: rem(12px);
        color: #929292;
        span {
            color: #000;
        }
    }
   
}