.banner_right {
    margin-left: rem(33px);
    display: flex;
    width: 100%;
    position: relative;
    iframe {
        width: 100%;
        height: 100%;
    }
    a {
        display: block;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
}    
.banner_left {
    display: flex;
    width: 100%;
    position: relative;
    iframe {
        width: 100%;
        height: 100%;
    }
    a {
        display: block;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
}
