.pagination_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem(30px);
}
.pagination_text {
    color: #282828;
    font-family: $Arial;
    font-size: rem(16px);
    font-weight: 400;
    line-height: rem(14px);
    position: relative;
    top: rem(6px);
}
.pagination_nav {
    white-space: nowrap;
    .pagination_buttons {
        width: rem(0px);
        height: rem(21px);
        border-radius: rem(3px);
        border: rem(1px) dashed #d2d2d2;
        display: inline-block;
        position: relative;
        cursor: pointer;
        &:last-of-type {
            margin-left: rem(9px);
        }
        &:first-of-type:before {
            transform: rotate(180deg);
            top: rem(7px);
        }
        &:before {
            content: ">";
            position: absolute;
            left: 0;
            top: rem(-6px);
            bottom: 0;
            right: 0;
            margin: auto;
            width: rem(11px);
            height: rem(11px);
            color: #c8576c;
            font-size:rem(15px);
            font-weight: bold;
            &:last-of-type {
                transform: rotate(180deg);
                top: rem(7px);
            }
        }
    }
    .pagination_show_all {
        display: inline-block;
        margin-left: rem(14px);
        vertical-align: top;
        position: relative;
        top: rem(6px);
        a {
            color: #010101;
            font-family: $Arial;
            font-size: rem(14px);
            font-weight: 400;
            line-height: rem(14px);
            text-decoration: underline;
        }
    }
}
