.sravnenie_list {
    .mob_category {
        border: none;
        cursor: pointer;
        flex: 1 1 254px;
        max-width: 319px;
        position: relative;
        .close {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
        }
    }
}