.sravnenie_list {
    .mob_category {
        border: none;
        cursor: pointer;
        flex: 1 1 rem(254px);
        max-width: rem(319px);
        position: relative;
        .close {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
        }
    }
}
.sravnenie_spisok_wrap {
    .title_block {
        display: inline-block;
        margin-right: rem(30px);
    }
    .back_btn_block {       
        text-align: left;
        &:hover {
            span {
                left: 75%;
            }
        }
        span {
            transform: rotate(0);
            left: 70%;
        }        
    }   
}