.breadcrumb  {
    &>li {
        display: inline-block;        
        &+li:before {
            padding: 0 rem(5px);
            color: #9a9a9a;
            content: ">";
            font-size: rem(15px);            
            position: relative;
            top: rem(3px);
        }
        & span {
            opacity: 0.7;
            color: #282828;
            font-family: Arial;
            font-size: rem(10px);
            font-weight: 400;
            line-height: rem(14px);
        }
        & a {
            opacity: 0.7;
            color: #282828;
            font-family: Arial;
            font-size: rem(10px);
            font-weight: 400;
            line-height: rem(14px);
            text-decoration: underline;
        }
        &:hover a {
            opacity: 1;
            
        }
    }
}
