.category_content_mob {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: rem(-10px);
}
.mob_category {
    flex: 1 1 rem(325px);
    padding: rem(20px) rem(10px);
    text-align: center;    
    width: 100%;
    border-top: rem(1px) solid #e5e5e5;
    border-bottom: rem(1px) solid #e5e5e5;
    margin-left:rem( 10px);
    .card_min_img {
        height: auto;
        img {
            max-width: rem(250px);
            width: 100%;
            height: auto;
        }
    }
    .card_min_title {
        text-align: left;
    }
    .rate_and_reviews {
        display: flex;
        justify-content: flex-start;
    }
    .categor_rewivs {
        opacity: 0.8;
        color: black;
        font-family: $Arial;
        font-size: rem(12px);
        font-weight: 400;
        display: inline-block;
        margin-left: rem(5px);
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }    
}