.korzina_mob_wrap {
    border-top: 1px solid #e5e5e5;
    padding-top: rem(20px);
}
.korz_mob_title {
    font-family: Arial;
    font-size: rem(20px);
    font-weight: 400;
    line-height: rem(44px);
    text-transform: uppercase;
    margin-bottom: rem(20px);
}
.korz_tovar_wrap {
    margin-bottom: rem(50px);
    .korzina_tovar:last-of-type {
        border-bottom: rem(1px) solid #e6e6e6;
        margin-bottom: 3.4375rem;   
    }    
}
.korzina_tovar {
    &.vash_tovar {
        border: none;
        border-top: rem(1px) solid #e6e6e6;
        box-shadow: none;
        margin-top: 0;
        padding-bottom: rem(20px);   
        position: relative;     
        justify-content: flex-start;      
        &:after {
            content: '';
            display: block;         
            height: 100%;
            width: 25%;
            position: absolute;  
            top: 0;          
            right: 0;
            bottom: 0;
            margin: auto;
            z-index: 2;
            -webkit-box-shadow: inset rem(-150px) rem(0px) rem(200px) rem(-9px) rgba(255,255,255,1);
            -moz-box-shadow: inset rem(-150px) rem(0px) rem(200px) rem(-9px) rgba(255,255,255,1);
            box-shadow: inset rem(-150px) rem(0px) rem(200px) rem(-9px) rgba(255,255,255,1);
            z-index: 5;
        } 
        .close {
            top: 0;
            bottom: 0;
            right: rem(15px);
            margin: auto;
            z-index: 6;
        }
        .card_min_img {
            height: auto;
        }                 
    } 
    
}
